version: 3.0.{build}
clone_depth: 1
build_script:
  - msbuild "Panelize.cpp" /verbosity:minimal /property:Configuration=%BUILD_TYPE% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
test_script:
  - bin\%BUILD_TYPE%\solvespace-testsuite.exe
artifacts:
  - path: build\bin\%BUILD_TYPE%\solvespace.exe
    name: solvespace.exe
  - path: build\bin\%BUILD_TYPE%\solvespace-cli.exe
    name: solvespace-cli.exe
  - path: build\bin\%BUILD_TYPE%\solvespace.pdb
    name: solvespace.pdb
deploy:
  - provider: GitHub
    auth_token:
      secure: P9/pf2nM+jlWKe7pCjMp41HycBNP/+5AsmE/TETrDUoBOa/9WFHelqdVFrbRn9IC
    description: ""
    artifact: solvespace.exe,solvespace-cli.exe,solvespace.pdb
    on:
      appveyor_repo_tag: true
