version: 3.0.{build}
clone_depth: 1
build_script:
  - msbuild "Panelize.cpp" /verbosity:minimal /property:Configuration=%BUILD_TYPE% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
artifacts:
  - path: panelize.exe
    name: panelize.exe
deploy:
  - provider: GitHub
    auth_token:
      secure: P9/pf2nM+jlWKe7pCjMp41HycBNP/+5AsmE/TETrDUoBOa/9WFHelqdVFrbRn9IC
    description: ""
    artifact: solvespace.exe,solvespace-cli.exe,solvespace.pdb
    on:
      appveyor_repo_tag: true
